<div class="modal" tabindex="-1" style="display:@(IsVisible ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bekräfta borttagning</h5>
                <button type="button" class="btn-close" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                <p>Är du säker på att du vill ta bort produkten?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="Cancel">Avbryt</button>
                <button class="btn btn-danger" @onclick="Confirm">Ta bort</button>
            </div>
        </div>
    </div>
</div>
