@page "/"

<PageTitle>Startsida</PageTitle>

<h1>EStore, ett fullstackprojekt på IT-Högskolan</h1>

Välkommen till Estore! Detta är en skoluppgift där jag implementerat databashantering och REST API för en e-handel.

<a href="https://github.com/SofiaNords/EStore" target="_blank">Läs mer om projektet här</a>