@using Microsoft.AspNetCore.Components.Forms
@using EStoreAPI.Models

<div class="modal @GetModalClass()" tabindex="-1" role="dialog" aria-hidden="@(IsVisible ? "false" : "true")">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lägg till produkt</h5>
                <button type="button" class="close" aria-label="Close" @onclick="HandleCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="createdProduct" OnValidSubmit="HandleSave" Context="editContext">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div>
                        <label>Produktnummer</label>
                        <InputText @bind-Value="createdProduct.ProductNumber" class="form-control" />
                    </div>
                    <div>
                        <label>Produktnamn</label>
                        <InputText @bind-Value="createdProduct.Name" class="form-control" />
                    </div>
                    <div>
                        <label>Beskrivning</label>
                        <InputText @bind-Value="createdProduct.Description" class="form-control" />
                    </div>
                    <div>
                        <label>Pris</label>
                        <InputNumber @bind-Value="createdProduct.Price" class="form-control" />
                    </div>
                    <div>
                        <label>Produktkategori</label>
                        <InputText @bind-Value="createdProduct.Category" class="form-control" />
                    </div>
                    <div>
                        <label>Utgått ur sortimentet</label>
                        <InputCheckbox @bind-Value="createdProduct.IsDiscontinued" class="form-check-input" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HandleCancel">Avbryt</button>
                        <button type="submit" class="btn btn-primary" disabled="@(editContext?.Validate() == false)">Spara</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
